body {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
}

#title {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  width: 100%;
  background-color: #EA1717;
  font-size: 3em;
}

#title a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #EA1717;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #B80909;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 40%;
  background-color: #1B4AAE;
  padding: 20px;
  color: white;
  border-radius: 5px;
  margin: 0 2.5% 25px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*@media (max-width: 800px) {
  .column {
    width: 100%;
  }
}*/

.entry {
  background-color: #DDDDDD;
  margin-bottom: 20px;
  display: flex;
}

.entry>div {
  background-color: #f1f1f1;
  margin: 10px;
  padding:20px;
}

.entry img {
  display: inline;
}

.entry p {
  display: inline;
}

footer {
  padding: 10px;
  text-align: center;
}

#ajax-loader {
  display: none;
}

#progressBar {
  width: 100%;
  background-color: #FF7272;
  display: none;
}

#loadedBar {
  width: 1%;
  height: 30px;
  background-color: #B80909;
}

/* -- NAGIVATION ----------------------------- */

nav {
  text-align: center;
  background-color: #B80909;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: inline-flex;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a.active {
  background-color: #900000;
  color: white;
}

nav li a:hover {
  background-color: #FF7272;
  color: black;
}

/*
#EA1717
#FF7272
#F44747
#B80909
#900000
*/
